{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }} - Appareils Photo
{% endblock %}

{% block body %}
<div class="hero" style="height: 75vh; background-image: url('{{ asset('images/border-cameras-assorted-film.webp') }}'); background-size: cover; background-position: center;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-center text-white">
      <h1 class="lead" style="font-size: 22px; font-weight: 500;">Bienvenue dans notre catalogue d'appareils photo argentiques</h1>
      <form class="row g-3 mt-4 justify-content-center" onsubmit="return searchCameras(event)">
        <div class="col-md-8" style="max-width: 500px; position: relative;"> 
          <div class="input-group" style="width: 100%; position: relative;">
            <input type="text" id="cameraSearch" class="form-control rounded-pill" placeholder="Recherchez un appareil photo" aria-label="Recherchez un appareil photo" style="width: 100%;" oninput="handleInput()" autocomplete="off">
            <button type="button" id="clearButton" class="btn-clear" onclick="clearSearch()" style="color: #028a6a; display: none;">
              &times;
            </button>
          </div>
          <ul id="suggestions" class="list-group position-absolute mt-1" style="width: 100%; display: none;"></ul>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container my-5 text-center">
  <h2 style="font-size: 19px; font-weight: 400; color: inherit;">Capturez des instants précieux grâce à la magie de l'analogique</h2>
</div>

<div class="container-fluid my-5 px-0">
  <div id="videoContainer" class="d-flex justify-content-center" style="height: 442px; width: 100%;">
    <video id="videoPlayer" class="d-block w-100 h-100" style="object-fit: cover;" autoplay muted>
      <source src="{{ asset('videos/1473811_Hobbies_People_1280x720.mp4') }}" type="video/mp4">
    </video>
  </div>
</div>

<script>
  const cameras = [
    {% for camera in cameras %}
      {
        id: {{ camera.id }},
        name: "{{ camera.modelName }}",
        brand: "{{ camera.brand.name }}"
      },
    {% endfor %}
  ];

  function handleInput() {
    const query = document.getElementById('cameraSearch').value.toLowerCase();
    const clearButton = document.getElementById('clearButton');
    suggestCameras(query);

    if (query.length > 0) {
      clearButton.style.display = 'block';
    } else {
      clearButton.style.display = 'none';
    }
  }

  function suggestCameras(query) {
    const suggestions = document.getElementById('suggestions');
    suggestions.innerHTML = '';
    suggestions.style.display = 'none';

    if (query.length > 0) {
      const filteredCameras = cameras.filter(camera => camera.name.toLowerCase().includes(query) || camera.brand.toLowerCase().includes(query));
      filteredCameras.forEach(camera => {
        const suggestionItem = document.createElement('li');
        suggestionItem.className = 'list-group-item';
        suggestionItem.innerHTML = `${camera.brand} ${camera.name}`;
        suggestionItem.onclick = () => {
          const url = "{{ path('app_camera_show', { 'id': 0 }) }}".replace('/0', '/' + camera.id);
          window.location.href = url;
        };
        suggestions.appendChild(suggestionItem);
      });
      suggestions.style.display = 'block';
      suggestions.style.width = '100%';
    }
  }

  function clearSearch() {
    const searchInput = document.getElementById('cameraSearch');
    searchInput.value = '';
    searchInput.focus();
    document.getElementById('suggestions').style.display = 'none';
    document.getElementById('clearButton').style.display = 'none';
  }

  document.addEventListener('DOMContentLoaded', function () {
    const searchInput = document.getElementById('cameraSearch');
    const clearButton = document.getElementById('clearButton');

    searchInput.addEventListener('input', () => {
      if (searchInput.value.length > 0) {
        clearButton.style.display = 'block';
      } else {
        clearButton.style.display = 'none';
      }
    });

    clearButton.style.display = 'none';
  });

  const videoSources = [
    "{{ asset('videos/1473811_Hobbies_People_1280x720.mp4') }}",
    "{{ asset('videos/1473814_People_Leisure_1280x720.mp4') }}",
    "{{ asset('videos/1475770_Hobbies_People_1280x720.mp4') }}",
    "{{ asset('videos/6037853_Person_People_1280x720.mp4') }}"
  ];

  let currentVideoIndex = 0;
  const videoPlayer = document.getElementById('videoPlayer');

  videoPlayer.addEventListener('ended', function() {
    currentVideoIndex++;
    if (currentVideoIndex >= videoSources.length) {
      currentVideoIndex = 0; 
    }
    videoPlayer.src = videoSources[currentVideoIndex];
    videoPlayer.play();
  });
</script>

<style>
  .input-group {
    position: relative;
  }
  .btn-clear {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
  }
</style>

<div class="container my-5 text-center">
  <h2 style="font-size: 19px; font-weight: 400; color: inherit;">Nous sommes convaincus que vous trouverez votre bonheur dans notre catalogue d'appareils photo<br> constamment enrichi par notre communauté </h2>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for camera in cameras|shuffle|slice(0, 8) %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            <a href="{{ path('app_camera_show', { 'id': camera.id }) }}">
                <div class="card-img-top-container" style="height: 200px; overflow: hidden;">
                    <img src="{{ asset(camera.photoPath) }}" class="card-img-top" alt="{{ camera.modelName }}" style="object-fit: cover; height: 100%; width: 100%;">
                </div>
                <div class="card-footer text-center">
                    <h5 class="card-title hover-green">{{ camera.brand.name }} {{ camera.modelName }}</h5>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
