{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }} - Appareils Photo
{% endblock %}

{% block body %}
<div class="hero" style="height: 75vh; background-image: url('{{ asset('images/border-cameras-assorted-film.webp') }}'); background-size: cover; background-position: center;">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="text-center text-white">
      <h1 class="lead" style="font-size: 22px; font-weight: 500;">Bienvenue dans notre catalogue d'appareils photo argentiques</h1>
      <form class="row g-3 mt-4 justify-content-center">
        <div class="col-md-8" style="max-width: 500px;"> 
          <div class="input-group">
            <input type="text" class="form-control rounded-pill" placeholder="Recherchez un appareil photo" aria-label="Recherchez un appareil photo" style="width: 85%;">
            <button class="btn btn-primary rounded-pill ms-2" type="submit" style="background-color: #028a6a; border-color: #028a6a;">
              <i class="bi bi-search text-white"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container my-5 text-center">
  <h2 style="font-size: 19px; font-weight: 400; color: inherit;">Capturez des instants précieux grâce à la magie de l'analogique</h2>
</div>

<div class="container-fluid my-5 px-0">
  <div id="videoContainer" class="d-flex justify-content-center" style="height: 442px; width: 100%;">
    <video id="videoPlayer" class="d-block w-100 h-100" style="object-fit: cover;" autoplay muted>
      <source src="{{ asset('videos/1473811_Hobbies_People_1280x720.mp4') }}" type="video/mp4">
    </video>
  </div>
</div>

{# {% block javascripts %} #}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        const videoPlayer = document.getElementById('videoPlayer');
        const videos = [
            "{{ asset('videos/1473811_Hobbies_People_1280x720.mp4') }}",
            "{{ asset('videos/1473814_People_Leisure_1280x720.mp4') }}",
            "{{ asset('videos/1475770_Hobbies_People_1280x720.mp4') }}",
            "{{ asset('videos/6037853_Person_People_1280x720.mp4') }}"
        ];
        let currentVideoIndex = 0;

        videoPlayer.addEventListener('ended', function () {
            currentVideoIndex = (currentVideoIndex + 1) % videos.length;
            videoPlayer.src = videos[currentVideoIndex];
            videoPlayer.play();
        });
    });
  </script>
{# {% endblock %} #}

<div class="container my-5 text-center">
  <h2 style="font-size: 19px; font-weight: 400; color: inherit;">Nous sommes convaincus que vous trouverez votre bonheur dans notre catalogue d'appareils photo<br> constamment enrichi par notre communauté </h2>
</div>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for camera in cameras|shuffle|slice(0, 8) %}
    <div class="col">
        <div class="card h-100 shadow-sm">
            <div class="card-img-top-container" style="height: 200px; overflow: hidden;">
                <img src="{{ asset(camera.photoPath) }}" class="card-img-top" alt="{{ camera.modelName }}" style="object-fit: cover; height: 100%; width: 100%;">
            </div>
            <div class="card-footer text-center">
                <h5 class="card-title hover-green">{{ camera.brand.name }} {{ camera.modelName }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
