

<div class="card h-100 shadow-sm">
    <div class="card-img-top-container" style="height: 200px; overflow: hidden;">
        {% if camera.photos|length > 0 %}
            <img src="{{ asset(camera.photos|first.photoPath) }}" class="card-img-top" alt="{{ camera.modelName }}" style="object-fit: cover; height: 100%; width: 100%;">
        {% else %}
            <img src="{{ asset('images/default-placeholder.png') }}" class="card-img-top" alt="{{ camera.modelName }}" style="object-fit: cover; height: 100%; width: 100%;">
        {% endif %}
    </div>
    <div class="card-footer text-center">
        <h5 class="card-title hover-green">{{ camera.brand.name }} {{ camera.modelName }}</h5>
        <a href="{{ path('app_camera_show', {'id': camera.id}) }}" class="btn btn-details mt-2">Voir les détails</a>
    </div>
</div>

