{% extends 'base.html.twig' %}

{% block title %}
    {{ camera.brand.name }} {{ camera.modelName }} - {{ camera.filmFormat }} - Détails
{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="{{ asset(camera.photoPath) }}" class="img-fluid" alt="{{ camera.modelName }}" style="max-width: 80%; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
        </div>
        <div class="col-md-6">
            <h1 class="display-5">{{ camera.brand.name }} {{ camera.modelName }}</h1><br>
            <h2 class="mt-2" style="text-align: left;">Description</h2> <!-- Aligné à gauche -->
            <p>{{ camera.description }}</p>

            <h3 class="mt-4">Caractéristiques</h3>
            <ul class="list-group">
                <li class="list-group-item"><strong>Marque :</strong> {{ camera.brand.name }}</li>
                <li class="list-group-item"><strong>Modèle :</strong> {{ camera.modelName }}</li>
                <li class="list-group-item"><strong>Format de film :</strong> {{ camera.filmFormat }}</li>
                <li class="list-group-item"><strong>Année de sortie :</strong> {{ camera.year }}</li>
            </ul>

            {% if camera.manualPath %}
                <a href="{{ asset(camera.manualPath) }}" class="btn btn-success mt-4" target="_blank">
                    Voir le manuel
                </a>
            {% else %}
                <p>Manuel non disponible</p>
            {% endif %}

            <div class="mt-4">
                <a href="{{ path('camera_edit', {'id': camera.id}) }}" class="btn btn-light">Modifier cet appareil photo</a>
            </div>

            <div class="mt-2">
                <form method="post" action="{{ path('camera_delete', {'id': camera.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet appareil photo?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ camera.id) }}">
                    <button class="btn btn-light">Supprimer cet appareil photo</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
